.titulo1{
    color: white;
    background-color: rgb(216, 141, 2);
    display: flex;
    justify-content: center;
    /*font: oblique bold 200% Comic-sans cursive;*/
    font-family: 'Press Start 2P', cursive;
}
.titulo2{
    font-family: 'Monoton', cursive;
    font-size: 1.2guitrem;
}
.contenedor{
    display: flex;
    justify-content: center;    
}
button{
    background-color: rgb(204, 255, 128);
    color: gray;
}
.table{
    border-collapse: collapse;
}
.table td{
    border: 1px solid;
    text-align: center;
}
.table th:hover{
    color: white;
    background-color: black;
}
.table tr{
    color: black;
    background-color: aquamarine;
    font-family: 'Press Start 2P', cursive;    
}
caption{
    font-family: 'Monoton', cursive;
    font-size: 100px;
}
.table td:hover{
    color:white;
    background-color: black;
}